@use 'hero';
@use 'sobre';
@use 'personagens';
@use 'footer';
@use 'perguntas';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$bgColor: #010101;
$txtColor: rgb(255, 255, 255);

body{
    background-color: $bgColor;
}

.btn-tab{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 32px;
}

.title{
    font-family: sans-serif;
    font-size: 56px;
    color: $txtColor;
    font-weight: 700;
}

.title--small{
    font-family: sans-serif;
    font-size: 40px;
    color: $txtColor;
    font-weight: 700;
}

.txt{
    font-family: sans-serif;
    font-size: 24px;
    color: $txtColor;
    font-weight: 200;
}