.personagens{
    padding-top: 128px;
    padding-bottom: 128px;
    
    &__content{
        padding: 5.6vw;
        
        h2{
            text-align: center;
            margin-bottom: 32px;
        }

        &__list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            opacity: 0;
            transition: opacity 5s ease;
            gap: 5%;

            @media (max-width:768px) {
                display: flex;
                flex-direction: column;
                align-items: center;

                &__item{
                    h3{
                        font-size: 40px;
                    }
                }
            }

            @media (max-width:1024px) {
                grid-template-columns: 1fr 1fr;
                gap: 5%;

            }
    


            &--is-visible{
                opacity: 100;
            }

            &__item{
                max-width: 450px;
                padding-top: 64px;

                h3{
                    justify-content: center;
                    text-align: center;
                }

                img{
                    border-radius: 900px;
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}